* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 20px;
  opacity: 0.6;
  transform: scale(0.9);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}

.slide li.active {
  opacity: 1;
  transition: transform 0.8s;
  transform: scale(1);
}

.arrow-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
  padding: 0 10vw;
}

.arrow-nav button {
  cursor: pointer;
}

[data-control="slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  margin-top: 20px;
}

[data-control="slide"] li {
  width: 24px;
  height: 24px;
  background-color: #fb5;
  border-radius: 50%;
  opacity: .8;
}

[data-control="slide"] li.active, [data-control="slide"] li:hover {
  background-color: #f61;
}

[data-control="slide"] li a {
  display: block;
  text-indent: -999px;
  font-family: sans-serif;
  color: #222;
  overflow: hidden;
}