* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 20px;
  opacity: 0.6;
  transform: scale(0.9);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}

.slide li.active {
  opacity: 1;
  transition: transform 0.8s;
  transform: scale(1);
}

.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: #fb5 url('../img/arrow.svg') center center no-repeat;
  color: transparent;
  padding: 8px 12px;
}

.arrow-nav button.prev{
  transform: rotate(-180deg);
}

.arrow-nav button:hover {
  background-color: #f61;
}

[data-control="slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  margin-top: 20px;
}

[data-control="slide"] li {
  width: 24px;
  height: 24px;
  background-color: #fb5;
  border-radius: 50%;
  opacity: .8;
}

[data-control="slide"] li.active, [data-control="slide"] li:hover {
  background-color: #f61;
}

[data-control="slide"] li a {
  display: block;
  text-indent: -999px;
  font-family: sans-serif;
  color: #222;
  overflow: hidden;
}

.custom-controls {
  display: flex;
  justify-content: center;
  margin:20px 0;
  flex-wrap: wrap;
}

.custom-controls li {
  width: 40px; 
  height: 40px;
  opacity: .8;
  transform: scale(.8);
  border-radius: 50%;
  overflow: hidden;
  margin: 0 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.custom-controls li.active, .custom-controls li:hover {
  opacity: 1;
  transform: scale(1);
  transition: transform .3s;
}